.profilecardcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  width: 400px;
  height: 400px;
  justify-content: center;
  margin-top: 20px;
  transition: margin-bottom 0.3s ease; /* Add transition effect */
}

.profilecardcontainer:hover {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.profileimage {
  opacity: 0;
}

.profilecardcontainer:hover .profileimage {
  opacity: 1;
}

.noprofileimage {
  opacity: 0;
}

.profilecardcontainer:hover .noprofileimage {
  opacity: 1;
}

.nameandboards {
  margin-bottom: 200px;
  justify-content: space-around;
  transition: margin-bottom 0.2s ease;
}

.profilecardcontainer:hover .nameandboards {
  margin-bottom: 0;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}
